
html, body {
    margin:0;
    padding:0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
    display: flex;   border:12px solid;
    /* border-image-source: linear-gradient(
        45deg,
        #FF52E5,
        #F6D242
    );
    border-image-slice: 1; */

}
html, body{
    max-width: 100%;
    text-align: center;
    font-family: 'Anonymous Pro', monospace;
    overflow-x: auto;
   
}

#message
{
    color:white;
    height:90vh;
    width:90vw;
    display: flex;
    position:fixed;
    
    text-align: center;

    /* Solution part I. */
    display: table;

      /* border-image-source: linear-gradient(
        45deg,
        #FF52E5,
        #F6D242
    );
    border-image-slice: 1; */

}

